#! /bin/bash

date
export RUSTFLAGS="-C target-cpu=native -g"
export FFI_BUILD_FROM_SOURCE=1

disk_space=$(df -h | awk '$6 == "/opt" {print $5}' | tr -d %)
if [ $disk_space -gt 90 ]
then
    echo "Pruning chain"
    systemctl stop lotus-commit
    systemctl stop lotus-pc2
    systemctl stop lotus-pc1
    systemctl stop lotus-miner
    systemctl stop lotus.service
    sleep 60

    rm -rf /opt/.lotus/datastore/chain/*
    
    systemctl start lotus.service
    systemctl start lotus-miner
    systemctl start lotus-worker-pc1
    systemctl start lotus-worker-pc2
    systemctl start lotus-worker-commit
else
    echo "Pruning not required"
fi
