# /etc/systemd/system/lotus-worker-commit.service
[Unit]
Description=Lotus Worker Service
After=network.target

[Service]
User=filecoin
ExecStart=/usr/local/bin/lotus-worker run --no-local-storage --parallel-fetch-limit 10 --precommit1=false --precommit2=false --addpiece=false --listen "0.0.0.0:3460"
Restart=always
RestartSec=10
LimitNOFILE=1048576:1048576
MemoryAccounting=true
MemoryHigh=192G
MemoryMax=224G

# Required Paths 
# Most paths below relies on /lotus path, but you can use any path, though I generally recommend using my package structure
Environment=LOTUS_WORKER_PATH=/opt/.lotusworker-commit-0
Environment=LOTUS_PATH=/opt/.lotus
Environment=FIL_PROOFS_PARAMETER_CACHE=/opt/lotus/node/parameter
Environment=FIL_PROOFS_PARENT_CACHE=/opt/lotus/node/parent

# PC1 related env vars
# Fill here vars like SDR related that suits your hardware
# For 7F52 I use that's the only param needed.
Environment=FIL_PROOFS_MAXIMIZE_CACHING=1
Environment=RUSTFLAGS='-C target-cpu=native -g'
Environment=FFI_BUILD_FROM_SOURCE=1
Environment=FFI_USE_MULTICORE_SDR=1
Environment=FFI_USE_GPU2=1
Environment=BELLMAN_CPU_UTILIZATION=0.0
Environment=BELLMAN_CUSTOM_GPU="GeForce RTX 3060 Ti:4864"
Environment=FIL_PROOFS_MAXIMIZE_CACHING=1
Environment=FIL_PROOFS_USE_GPU_COLUMN_BUILDER=1
Environment=FIL_PROOFS_USE_GPU_TREE_BUILDER=1
Environment=FIL_PROOFS_USE_MULTICORE_SDR=1
Environment=TMPDIR=/opt/lotus/tmpdir/commit-0
Environment=CUDA_VISIBLE_DEVICES=0

# Logging
Environment=GOLOG_OUTPUT=file
Environment=GOLOG_FILE=/var/log/lotus/commit-0.log
#Environment=GOLOG_LOG_FMT=json # Uncomment this in case you want machine readable logs in JSON
Environment=RUST_LOG=info
Environment=RUST_BACKTRACE=full
StandardOutput=append:/var/log/lotus/commit-0_rust.log

# Access to Miner/Daemon
Environment=MARKETS_API_INFO=<api token + endpoint>
Environment=MINER_API_INFO=<api token + endpoint>

[Install]
WantedBy=multi-user.target
